@media (min-width: 600px) {
  .notes__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .notes__container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .notes__container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
